@font-face {
    font-family: 'Univa Nova';
    src: url('../fonts/UnivaNova-Bold.woff2') format('woff2');
    font-weight: 700; 
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuMono';
    src: url('../fonts/UbuntuMono-Regular.woff2') format('woff2');
}

:root {
    --bg-color: #333;
    --header-color: #d03c13;
    --secondary-color: #2ecc71;
    --text-color: #ffffff;
    --max-width: 1000px; 
    --font-family: monospace;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    display: grid;
    grid-template-columns: 1fr minmax(0, 1000px) 1fr;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-family);
    padding: 2rem;
}

body > * {
    grid-column: 2;
}



h1 {
    color: var(--header-color);
    font-weight: inherit;
}

h2 {
    font-size: 25px;
    color: var(--secondary-color);
    margin-top: 2rem; 
    font-weight: inherit;

}

h3 {
    font-size: 16px;
    color: var(--header-color);
}

h3.default{
    font-size: 16px;
    color: var(--text-color);
}



p {
    font-size: 15px;
    line-height: 125%;
    margin-bottom: 2rem; 
}

p.secondary-color{
    color: var(--header-color);
}



hr {
    border: 0;
    border-top: 1px solid #444;
    margin: 20px 0;
}

pre, code {
    font-family: monospace;
    background-color: #333;
    padding: 2px 4px;
    border-radius: 3px;
}

pre {
    padding: 10px;
    overflow-x: auto;
}

ul {

    padding-left: 20px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}



img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}



img { 
    max-width: 100%; 
    height: auto; 
    display: block; 
    border-radius: 4px; 
}

a.link {
    color: var(--header-color);

}

a.link:hover{
    text-decoration: underline;
    filter: brightness(90%);
}

.terminal-text{
    font-family: UbuntuMono;
}

h1.terminal-text{
    margin-bottom: 1.5rem;
}

.terminal-text::before{
    content: "~$";
    font-size: 80%;
    padding-right: 5px;
    display: inline-block; 
    transform: translateY(-2px);
}

.terminal-text::after {
  content: "_";
  font-weight: inherit;
  animation: blink 1s step-start infinite;
  font-family: var(--font-family);
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.markdown-text{
    font-family: UbuntuMono;

}

/* Update your CSS to this */

.markdown-text {
    text-decoration: none;
    display: inline-flex; 
    align-items: center; 
    color: var(--secondary-color) 
}

.markdown-text::before {
    content: ">";
    margin-right: 10px; 
    font-size: 150%;  
}

.markdown-text h2 {
    margin: 0;
    color: inherit;
    display: inline;
}

a.markdown-text:hover h2 {
    color: var(--header-color);
    filter: brightness(90%);
}


.box-list ul{
    font-size: 20px;
    padding: 20px;
    list-style: none;
    background-color: #333;
    color: #fff;
    margin: 20px auto;
    display: inline-block;
    border-radius: 5px;
    text-align: left;
    max-width: 80%;
    box-sizing: border-box; /* Include padding in the element's width */
}


ul.box-list li{
    margin: 10px 0;
}




