---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ '/css/styles.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/header.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/footer.css' | relative_url }}">

    <script src="{{ '/scripts/global-components.js' | relative_url }}" defer></script>
    <script type="module" src="{{ '/scripts/page-view.js' | relative_url }}"></script>

    <title>{{ page.title }}</title>
    <link rel="icon" type="image/x-icon" href="{{ '/images/cat.ico' | relative_url }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <main>
        <my-header 
            home-url="{{ '/' | relative_url }}" 
            blog-url="{{ '/blog/' | relative_url}}"
            snakes-url="{{ '/snakes/' | relative_url }}"
            life-url="{{ '/life/' | relative_url }}">
        </my-header>

        {{ content }}

        <my-footer
            privacy-url="{{ '/privacy/' | relative_url}}">
        </my-footer>
    </main>
</body>
</html>